{{define "body"}}
<section class="wrapper bg-light">
    <div class="container py-8 py-md-14">
        <div class="row">
            <section class="wrapper bg-light">
                <div>
                    <div class="row">
                        <div class="col-12 mb-3">
                            <section class="wrapper">
                                <div class="card">
                                    <div class="card-body p-3 p-lg-10">
                                        <div class="row gx-4 text-center">
                                            <h4 class=" col-12 p-3 card-title" data-test="page-title">
                                                {{ Trans "appointment.title"}}
                                            </h4>
                                            <div class="col-2"></div>
                                            <div class="col-8" data-test="appointment-taken">
                                                {{ Trans "appointment.thanks"}}
                                            </div>
                                            <div class="col-2"></div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>
{{end}}
