{{define "body"}}
    <section class="wrapper bg-reverse-primary">
      <div class="container pt-12 pt-md-14 pb-14 pb-md-16">
        <div class="row">
          <div class="col-lg-9 col-xl-8 mx-auto" >
            <figure class="mb-10"><img class="img-fluid" src="/public/img/illustrations/500.svg" alt="" style="height: 400px!important;"></figure>
          </div>
          <!-- /column -->
          <div class="col-lg-8 col-xl-7 col-xxl-6 mx-auto text-center">
            <h1 class="mb-3">{{ Trans "500.Message" }}</h1>
            <p class="lead mb-7 px-md-12 px-lg-5 px-xl-7">{{ Trans "500.TryAgain" }}</p>
            <a href="/" class="btn btn-primary rounded-pill">{{ Trans "500.GoBack" }}</a>
          </div>
        </div>
      </div>
    </section>
{{end}}