{{define "body"}}
    <section class="wrapper bg-light">
      <div class="container pt-12 pt-md-14 pb-14 pb-md-16">
        <div class="row">
          <div class="col-lg-9 col-xl-8 mx-auto">
            <figure class="mb-10"><img class="img-fluid" src="/public/img/illustrations/404.png" alt=""></figure>
          </div>
          <!-- /column -->
          <div class="col-lg-8 col-xl-7 col-xxl-6 mx-auto text-center">
            <p data-test="not-implemented" class="lead mb-7 px-md-12 px-lg-5 px-xl-7">{{ Trans "404.page_not_implemented" }}</p>
            <a data-test="back-to-homepage"href="/dashboard" class="btn btn-primary rounded-pill">{{ Trans "404.go_back" }}</a>
          </div>
        </div>
      </div>
    </section>
{{end}}