{{define "body"}}
<section class="wrapper bg-light">
    <div class="container pt-10">
        <div class="row gx-lg-8 gx-xl-12 gy-10">
            <div class="col-12 col-lg-6">
                <div class="position-relative" style="max-width: 300px;margin: auto;">
                    <div class="shape bg-dot primary rellax w-17 h-19" data-rellax-speed="1" style="top: -1.7rem; left: -1.5rem;"></div>
                    <div class="shape rounded bg-soft-primary rellax d-md-block" data-rellax-speed="0" style="bottom: -1.8rem; right: -0.8rem; width: 85%; height: 90%;"></div>
                    <figure class="rounded" style="height: 210px;">
                        {{template "carousel" .Estate}}
                    </figure>
                </div>
                <div class="mt-8">
                    <h4 data-test="page-title">{{ if .Estate.Kind}}{{ Trans (print "FIRST_LOGIN.Kind." .Estate.Kind) }}{{ end }} {{ .Estate.Type }} {{ .Estate.City }}<br/></h4>
                    <div class="mt-3 fs-16 text-uppercase text-muted">{{ Trans "FIRST_LOGIN.Desc" }} :</div>
                    <span data-test="estate-rooms">{{ .Estate.NbRooms }} {{ Trans "FIRST_LOGIN.Rooms" }}</span><br/>
                    <span data-test="estate-area">{{ .Estate.Area }} m<sup>2</sup></span><br/>
                    <span data-test="estate-rent">{{ .Estate.RentAmount }} € {{ Trans "FIRST_LOGIN.RentUnit" }}</span><br/>
                    <p class="mt-2">{{ .Estate.Desc }}</p>
                </div>
                <a href="/login" class="btn btn-primary" data-test="first-login-link">
                    {{ Trans "FIRST_LOGIN.Button" }}
                </a>
            </div>
            <div class="col-12 col-lg-6">
                <h2 class="display-4 mb-3">{{ Trans "FIRST_LOGIN.Title" }} <span class="underline-2 underline-gradient-1">Locafirst</span></h2>
                <p class="lead fs-lg">{{ Trans "FIRST_LOGIN.Lead" }}</p>
                <div>
                    <h4><span class="text-primary">1.</span> {{ Trans "FIRST_LOGIN.Step1" }}</h4>
                    <p class="ps-4">{{ Trans "FIRST_LOGIN.Step1Desc" }}</p>
                    <h4><span class="text-primary">2.</span> {{ Trans "FIRST_LOGIN.Step2" }}</h4>
                    <p class="ps-4">{{ Trans "FIRST_LOGIN.Step2Desc" }}</p>
                    <h4><span class="text-primary">3.</span> {{ Trans "FIRST_LOGIN.Step3" }}</h4>
                    <p class="ps-4">{{ Trans "FIRST_LOGIN.Step3Desc" }}</p>
                    <h4><span class="text-primary">4.</span> {{ Trans "FIRST_LOGIN.Step4" }}</h4>
                    <p class="ps-4">{{ Trans "FIRST_LOGIN.Step4Desc" }}</p>
                    <h4><span class="text-primary">5.</span> {{ Trans "FIRST_LOGIN.Step5" }}</h4>
                    <p class="ps-4">{{ Trans "FIRST_LOGIN.Step5Desc" }}</p>
                </div>
            </div>
        </div>
    </div>
</section>
{{template "why"}}
{{end}}
