{{define "title"}}{{ Trans "login.title" }}{{end}}
{{define "body"}}
	<section class="wrapper bg-pale-primary text-white">
		<div class="container pt-6 pt-md-8 pb-19 pb-md-20 text-center">
			<div class="row">
				<div class="col-lg-8 mx-auto">
					<img src="/public/img/logo-green.svg" height="60px;"/>
				</div>
			</div>
		</div>
	</section>
	<section class="wrapper bg-light">
	  <div class="container pb-14 pb-md-16">
	    <div class="row">
	      <div class="col-lg-7 col-xl-6 col-xxl-5 mx-auto mt-n18">
	        <div class="card shadow-lg position-relative">
              <div class="col">
                <div class="p-10 p-md-11 p-lg-13" data-test='login-block-content'>
                  <h2 class="mb-3 text-center " data-test='page-title'>{{ Trans "login.title"}}</h2>
        						{{ if .Uuid }}
                      <h3 class="lead mb-6 text-start">{{ Trans "login.subtitle"}}</h3>
                      {{ if eq .Error "InvalidLogin" }}
                        <div class="alert alert-danger alert-icon" role="alert" data-test="error">
                          <i class="uil uil-times-circle"></i>{{ Trans "login.error_message" }}
                        </div>
                      {{ end }}
                      {{ if .Expired }}
                        <div class="alert alert-danger alert-icon" role="alert" data-test="error">
                          <i class="uil uil-times-circle"></i>{{ Trans "login.error_expired" }}
                        </div>
                      {{end}}
                      {{ if eq .Error "TooManyRequests" }}
                        <div class="alert alert-danger alert-icon" role="alert" data-test="error">
                          <i class="uil uil-times-circle"></i>{{ Replace (Trans "login.to_many_requests") "%delay%" .UnBlockingDelay}}
                        </div>
                      {{ end }}
                      {{ if eq .Error "BadRole" }}
                        <div class="alert alert-danger alert-icon" role="alert" data-test="error">
                            <i class="uil uil-times-circle"></i>{{ Trans "login.bad_role_message" }}
                        </div>
                      {{ end }}
                      <a href="/estates/{{.Uuid}}/intro" data-test='signup'>
                        <button type="submit" class="btn btn-primary rounded-pill btn-login w-100 mb-2">{{ Trans "login.signup"}}</button>
                      </a>
                    <div class="divider-icon my-0 py-6"><i class="text-ash">{{ Trans "login.or"}}</i></div>
				        		{{ end }}
                  <div class="justify-content-center text-center">
                    <h3 class="lead mb-6 text-start">{{ Trans "login.magic_link_subtitle"}}</h3>
                  	<p class="mb-3 text-start">{{ Trans "login.magic_link.subtitle"}}</p>
                  	<form class="text-start mb-3" name="magic-link-request" method="post" action="/login/email">
                      <div class="form-floating mb-4">
                        <input type="email" class="form-control borderless" placeholder="Email" id="credentials_email" name="email" required>
                        <label for="credentials_email">{{ Trans "login.magic_link.login_label"}}</label>
                      </div>
                      <button type="submit" class="btn btn-soft-primary rounded-pill btn-login w-100 mb-2">{{ Trans "login.magic_link.link"}}</button>
                    </form>
                  </div>
                </div>
              </div>
	          </div>
	        </div>
	      </div>
	    </div>
	  </div>
	</section>
{{template "why"}}
{{end}}
