<!doctype html>
<html lang="en" data-bs-theme="auto">
    {{template "head" .}}
    <body>
    {{template "night-mode" .}}
    {{template "header" .}}
    <div class="container-fluid">
        <div class="row">
            {{template "navbar" .}}
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">{{Trans .PageTitle}}</h1>
                </div>
                {{template "body" .PageData}}
            </main>
        </div>
    </div>
    {{template "script" . }}
</html>
