{{ define "body" }}
<section class="wrapper bg-gradient-primary">
  <div class="container pt-10 pt-md-14 pb-8 text-center">
    <div class="row gx-lg-8 gx-xl-12 gy-10 align-items-center">
      <div class="col-lg-7">
        <figure><img class="w-auto" src="public/img/illustrations/merci.svg" alt="" /></figure>
      </div>
      <div class="col-md-10 offset-md-1 offset-lg-0 col-lg-5 text-center text-lg-start">
        <h1 class="display-1 mb-5 mx-md-n5 mx-lg-0">{{ Trans "REQUEST_MAGIC.Title" }}</h1>
        <p class="lead fs-lg mb-7" data-test="page-content">{{ Trans "REQUEST_MAGIC.Subtitle" "%email%" .Email}}</p>
        <p class="lead">{{ Trans "REQUEST_MAGIC.Content1"}}</p>
        <p class="lead">{{ Trans "REQUEST_MAGIC.Content2"}}</p>
        <p class="lead">{{ Trans "REQUEST_MAGIC.Content3"}}</p>
        <div class="d-flex flex-wrap"></div>
      </div>
    </div>
  </div>
</section>
{{ end }}