{{define "body"}}
<section class="wrapper bg-gradient-primary">
    <div class="container pt-10 pt-md-14 pb-8 text-center">
        <div class="row gx-lg-8 gx-xl-12 gy-10 align-items-center">
            <div class="col-md-10 col-lg-7 text-center text-lg-start">
                <h1 class="display-1 mb-5 mx-md-n5 mx-lg-0">Confidentialité et cookies</h1>
            </div>
            <div class="col-lg-5">
                <figure><img class="w-auto" src="public/img/illustrations/cookie.svg" alt="" /></figure>
            </div>
        </div>
    </div>
</section>
<section class="wrapper">
    <div class="container py-14 py-md-16">
        <div class="row">
            <div class="col">
                <p>Le site que vous visitez utilise des traceurs (cookies). Ainsi, le site est susceptible d’accéder à des informations déjà stockées dans votre équipement terminal de communications électroniques et d’y inscrire des informations.</p>
                <p>Les traceurs utilisés par le site relèvent de deux catégories :</p>
                <ul>
                    <li>traceurs dits strictement nécessaires, qui ne nécessitent pas votre consentement préalable,</li>
                    <li>autres traceurs soumis à votre consentement préalable.</li>
                </ul>
                <h2>1 - Traceurs exemptés de consentement préalable</h2>
                <p>Nous utilisons ces traceurs pour : réaliser des statistiques anonymes de visites, vous proposer des contenus et services adaptés à vos centres d’intérêts et vous permettre de partager des informations sur les réseaux sociaux.</p>
                <p>Ces traceurs ne peuvent pas, techniquement, être désactivés depuis le site. Vous pouvez néanmoins vous opposez à l’utilisation de ces traceurs, exclusivement en paramétrant votre navigateur. Ce paramétrage dépend du navigateur que vous utilisez, mais il est en général simple à réaliser : en principe, vous pouvez soit activer une fonction de navigation privée soit uniquement interdire ou restreindre les traceurs (cookies). Attention, il se peut que des traceurs aient été enregistrés sur votre périphérique avant le paramétrage de votre navigateur : dans ce cas, effacez votre historique de navigation, toujours en utilisant le paramétrage de votre navigateur.</p>
                <h2>2 - Traceurs soumis à votre consentement préalable</h2>
                <p>Le site utilise des traceurs sous notre contrôle et d’autres placés sous le contrôle de tiers, qui sont soumis à votre consentement préalable.</p>
                <h3>2.1 - Traceurs sous notre contrôle</h3>
                <p>Nous utilisons ces traceurs pour réaliser des statistiques anonymes de visites, vous proposez des contenus et services adaptés à vos centres d’intérêts et vous permettre de partager des informations sur les réseaux sociaux.</p>
                <h3>2.2 - Traceurs sous le contrôle de tiers</h3>
                <p>Ces traceurs sont utilisés pour réaliser des statistiques anonymes de visites, vous proposez des contenus et services adaptés à vos centres d’intérêts et vous permettre de partager des informations sur les réseaux sociaux.</p>
                <p>L’utilisation des traceurs est régie par l’article 32 II de la loi n° 78-17 du 6 janvier 1978, transposant l’article 5.3 de la directive 2002/58/CE du parlement européen et du conseil du 12 juillet 2002 modifiée par la directive 2009/136/CE.</p>
                <p>Pour en savoir plus sur les cookies et traceurs, nous vous invitons à consulter le site de la CNIL : <a href="https://www.cnil.fr">www.cnil.fr</a>.</p>
            </div>
        </div>
    </div>
</section>
{{end}}