{{define "body"}}
<section class="wrapper bg-gradient-primary">
    <div class="container pt-10 pt-md-14 pb-8 text-center">
        <div class="row gx-lg-8 gx-xl-12 gy-10 align-items-center">
            <div class="col-md-10 col-lg-7 text-center text-lg-start">
                <h1 class="display-1 mb-5 mx-md-n5 mx-lg-0">Informatique et liberté</h1>
            </div>
            <div class="col-lg-5">
                <figure><img class="w-auto" src="public/img/illustrations/legal.svg" alt="" /></figure>
            </div>
        </div>
    </div>
</section>
<section class="wrapper">
    <div class="container py-14 py-md-16">
        <div class="row">
            <div class="col">
                <p>en cours de rédaction</p>
            </div>
        </div>
    </div>
</section>
{{end}}