{{define "body"}}
<section class="wrapper bg-light">
    <div class="container py-14 py-md-16">
        <div class="row gx-lg-8 gx-xl-12 gy-10">
            <div class="col-lg-5">
                <figure><img class="rounded img-fluid" src="public/img/photos/faq.webp" alt=""/></figure>
            </div>
            <div class="col-lg-7">
                <h1 class="display-4 mb-3">Questions fréquentes</h1>
                <p class="lead fs-lg mb-6 pe-xxl-10"><p>
                <div class="accordion accordion-wrapper" id="accordionExample-2">

                    <div class="card plain accordion-item">
                        <div class="card-header" id="headingOne-1">
                            <button class="collapsed" data-bs-toggle="collapse" data-bs-target="#collapseOne-1" aria-expanded="true" aria-controls="collapseOne-1">
                                Quelles informations personnelles sont nécessaires pour commencer le processus de dépôt de dossier ?
                            </button>
                        </div>
                        <div id="collapseOne-1" class="accordion-collapse collapse" aria-labelledby="headingOne-1" data-bs-parent="#accordionExample-2">
                            <div class="card-body">
                                <p>Nous avons besoin de votre nom, adresse email, revenu, et catégorie socio-professionnelle pour mieux comprendre votre profil et faciliter le processus de demande de location.</p>
                            </div>
                        </div>
                    </div>

                    <div class="card plain accordion-item">
                        <div class="card-header" id="headingOne-2">
                            <button class="collapsed" data-bs-toggle="collapse" data-bs-target="#collapseOne-2" aria-expanded="true" aria-controls="collapseOne-2">
                                Comment assurer la confidentialité de mes données personnelles ?
                            </button>
                        </div>
                        <div id="collapseOne-2" class="accordion-collapse collapse" aria-labelledby="headingOne-2" data-bs-parent="#accordionExample-2">
                            <div class="card-body">
                                <p>Vos données sont traitées avec la plus grande confidentialité. Notre plateforme utilise des protocoles de sécurité avancés pour garantir la protection totale de vos informations.</p>
                            </div>
                        </div>
                    </div>

                    <div class="card plain accordion-item">
                        <div class="card-header" id="headingOne-3">
                            <button class="collapsed" data-bs-toggle="collapse" data-bs-target="#collapseOne-3" aria-expanded="true" aria-controls="collapseOne-3">
                                Quels types de documents dois-je téléverser lors du dépôt de dossier ?
                            </button>
                        </div>
                        <div id="collapseOne-3" class="accordion-collapse collapse" aria-labelledby="headingOne-3" data-bs-parent="#accordionExample-2">
                            <div class="card-body">
                                <p>Vous devrez téléverser des documents tels que votre carte d'identité, justificatif de revenu, et d'autres pièces justificatives nécessaires à votre dossier de location.</p>
                            </div>
                        </div>
                    </div>

                    <div class="card plain accordion-item">
                        <div class="card-header" id="headingOne-4">
                            <button class="collapsed" data-bs-toggle="collapse" data-bs-target="#collapseOne-4" aria-expanded="true" aria-controls="collapseOne-4">
                                Comment puis-je m'assurer que mes documents sont en ordre ?
                            </button>
                        </div>
                        <div id="collapseOne-4" class="accordion-collapse collapse" aria-labelledby="headingOne-4" data-bs-parent="#accordionExample-2">
                            <div class="card-body">
                                <p>Nous vous guiderons à travers une étape de tri manuel des documents, vous permettant de vous assurer que toutes les pièces requises sont présentes et correctement classées.</p>
                            </div>
                        </div>
                    </div>

                    <div class="card plain accordion-item">
                        <div class="card-header" id="headingOne-5">
                            <button class="collapsed" data-bs-toggle="collapse" data-bs-target="#collapseOne-5" aria-expanded="true" aria-controls="collapseOne-5">
                                Qu'est-ce que la validation de données et comment fonctionne-t-elle ?
                            </button>
                        </div>
                        <div id="collapseOne-5" class="accordion-collapse collapse" aria-labelledby="headingOne-5" data-bs-parent="#accordionExample-2">
                            <div class="card-body">
                                <p>La validation de données garantit l'exactitude des informations fournies à l'agence. Vous pouvez choisir entre une validation instantanée via notre application partenaire ou une validation réalisée par une équipe d'experts.</p>
                            </div>
                        </div>
                    </div>

                    <div class="card plain accordion-item">
                        <div class="card-header" id="headingOne-6">
                            <button class="collapsed" data-bs-toggle="collapse" data-bs-target="#collapseOne-6" aria-expanded="true" aria-controls="collapseOne-6">
                                Puis-je suivre l'état de mon dossier en temps réel ?
                            </button>
                        </div>
                        <div id="collapseOne-6" class="accordion-collapse collapse" aria-labelledby="headingOne-6" data-bs-parent="#accordionExample-2">
                            <div class="card-body">
                                <p>Oui, notre application offre une visibilité instantanée sur l'état d'avancement de votre dossier, vous tenant informé(e) tout au long du processus.</p>
                            </div>
                        </div>
                    </div>

                    <div class="card plain accordion-item">
                        <div class="card-header" id="headingOne-7">
                            <button class="collapsed" data-bs-toggle="collapse" data-bs-target="#collapseOne-7" aria-expanded="true" aria-controls="collapseOne-7">
                                Puis-je choisir la méthode de validation qui me convient le mieux ?
                            </button>
                        </div>
                        <div id="collapseOne-7" class="accordion-collapse collapse" aria-labelledby="headingOne-7" data-bs-parent="#accordionExample-2">
                            <div class="card-body">
                                <p>Absolument. Vous pouvez choisir entre une validation instantanée ou une validation manuelle, en fonction de ce qui vous inspire le plus confiance.</p>
                            </div>
                        </div>
                    </div>

                    <div class="card plain accordion-item">
                        <div class="card-header" id="headingOne-8">
                            <button class="collapsed" data-bs-toggle="collapse" data-bs-target="#collapseOne-8" aria-expanded="true" aria-controls="collapseOne-8">
                                Combien de temps faut-il pour traiter un dossier de location ?
                            </button>
                        </div>
                        <div id="collapseOne-8" class="accordion-collapse collapse" aria-labelledby="headingOne-8" data-bs-parent="#accordionExample-2">
                            <div class="card-body">
                                <p>Le temps de traitement dépend de divers facteurs (comme le choix de l'authentification de vos informations), mais notre plateforme efficace vise à accélérer le processus, vous rapprochant ainsi de la décision finale.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card plain accordion-item">
                        <div class="card-header" id="headingOne-9">
                            <button class="collapsed" data-bs-toggle="collapse" data-bs-target="#collapseOne-9" aria-expanded="true" aria-controls="collapseOne-9">
                                Que faire en cas de problème ou de question supplémentaire ?
                            </button>
                        </div>
                        <div id="collapseOne-9" class="accordion-collapse collapse" aria-labelledby="headingOne-9" data-bs-parent="#accordionExample-2">
                            <div class="card-body">
                                <p>En cas de problème ou si vous avez des questions supplémentaires, notre service client est là pour vous aider. Contactez-nous via le support intégré à l'application, et nous vous assisterons avec plaisir.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{end}}