{{define "body"}}
<section class="wrapper bg-gradient-primary">
    <div class="container pt-10 pt-md-14 pb-8 text-center">
        <div class="row gx-lg-8 gx-xl-12 gy-10 align-items-center">
            <div class="col-md-10 col-lg-7 text-center text-lg-start">
                <h1 class="display-1 mb-5 mx-md-n5 mx-lg-0">Conditions Générales d'Utilisation de Locafirst (en cours de rédaction)</h1>
            </div>
        </div>
    </div>
</section>
<section class="wrapper">
    <div class="container py-14 py-md-16">
        <div class="row">
            <div class="col">
<h2>PRÉAMBULE</h2>
<p>Ces conditions générales d'utilisation (ci-après « CGU ») régissent l'accès et l'utilisation de la plateforme Locafirst. Locafirst est une plateforme digitale française conçue pour faciliter la recherche de logement pour les utilisateurs particuliers, en permettant la collecte des documents nécessaires à la constitution d'un dossier de location (avis d’imposition, contrat de travail, bulletins de salaire, titre d’identité, etc.).</p>

<h2>Article 1 - Objet</h2>
<p>L’objet des présentes CGU est de définir les conditions d’utilisation du service proposé sur la plateforme Locafirst. Ce service est gratuit pour les candidats à la location, leur permettant de se positionner sur des biens immobiliers et de gérer leurs dossiers de candidature.</p>

<h2>Article 2 - Services proposés</h2>
<p>Locafirst permet aux utilisateurs :</p>
<ul>
  <li>De soumettre et gérer en ligne leur dossier de candidature pour la location d’un logement.</li>
  <li>De se positionner sur plusieurs biens proposés par différentes agences avec un seul dossier.</li>
  <li>De choisir des créneaux de visite pour les biens pour lesquels ils ont été sélectionnés.</li>
</ul>

<h2>Article 3 - Modalités d'inscription et acceptation des conditions générales d’utilisation</h2>
<p>Pour utiliser les services de Locafirst, l’utilisateur doit créer un compte en fournissant des informations véridiques et complètes. L’acceptation des présentes CGU est une condition sine qua non de l’utilisation du service.</p>

<h2>Article 4 - Traitement des données personnelles</h2>
<p>Conformément à la RGPD, Locafirst s’engage à :</p>
<ul>
  <li>Recueillir et traiter les données personnelles de manière transparente et sécurisée.</li>
  <li>Utiliser les données collectées exclusivement dans le cadre de la mise à disposition des services de la plateforme.</li>
  <li>Permettre aux utilisateurs d’accéder à leurs données personnelles, de les rectifier ou de demander leur suppression.</li>
  <li>Conserver les données personnelles uniquement pendant la durée nécessaire aux fins pour lesquelles elles sont traitées.</li>
</ul>

<h2>Article 5 - Propriété intellectuelle</h2>
<p>Les contenus de Locafirst (textes, logos, images, etc.) sont protégés par le droit de la propriété intellectuelle. Toute reproduction non autorisée de ces contenus est interdite.</p>

<h2>Article 6 - Responsabilité</h2>
<p>Locafirst ne peut être tenu responsable des informations erronées fournies par les utilisateurs. La plateforme s’engage à mettre en œuvre tous les moyens nécessaires pour assurer le bon fonctionnement des services proposés.</p>

<h2>Article 7 - Modification des CGU</h2>
<p>Locafirst se réserve le droit de modifier les présentes CGU à tout moment. L’utilisateur sera informé de ces modifications et devra accepter les nouvelles conditions pour continuer à utiliser le service.</p>

<h2>Article 8 - Loi applicable et juridiction compétente</h2>
<p>Les présentes CGU sont régies par le droit français. En cas de litige, les tribunaux français seront seuls compétents.</p>

<h2>Article 9 - Acceptation des conditions générales d'utilisation</h2>
<p>En créant un compte et en utilisant les services de Locafirst, l’utilisateur reconnaît avoir lu et accepté sans réserve les présentes Conditions Générales d'Utilisation.</p>
            </div>
        </div>
    </div>
</section>
{{end}}