{{define "body"}}
<section class="wrapper bg-light">
    <div class="container py-8 py-md-14">
        <div class="row">
            {{range $idx, $item := .Items}}
                <div class="col-12 mb-3">
                    {{if not $item.Active }}
                        <section class="wrapper">
                            <div class="card">
                                <div class="card-body px-4 py-2 d-flex justify-content-between">
                                    {{ if eq $item.Name "intro" }}
                                        <a href="{{ if not $.Data.Logged }}/estates/{{ $.Data.Uuid }}{{ else }}/profile{{ end }}/intro" class="hover link-{{$item.Color}}" {{if $item.DataTest}}data-test="{{$item.DataTest}}"{{end}}>
                                            <h2 class="mb-0 text-{{$item.Color}}">
                                            <span>{{ Trans (print "SIDEBAR." $item.Name)}}</span>
                                                <i class="uil uil-pen"></i>
                                            </h2>
                                        </a>
                                        <a href="{{ if not $.Data.Logged }}/estates/{{ $.Data.Uuid }}{{ else }}/profile{{ end }}/intro" class="btn btn-circle btn-soft-{{$item.Color}} btn-sm flex-shrink-0" data-test='form-link-{{$idx}}'>
                                            <i class="uil uil-{{$item.Icon}}"></i>
                                        </a>
                                    {{ else if and $.Data.Logged $item.IsUsable }}
                                        <a href="{{ $item.Link }}" class="hover link-{{$item.Color}}" {{if $item.DataTest}}data-test="{{$item.DataTest}}"{{end}}>
                                            <h2 class="mb-0 text-{{$item.Color}}">
                                            <span>{{ Trans (print "SIDEBAR." $item.Name)}}</span>
                                                <i class="uil uil-pen"></i>
                                            </h2>
                                        </a>
                                        <a href="{{$item.Link}}" class="btn btn-circle btn-soft-{{$item.Color}} btn-sm flex-shrink-0" data-test='form-link-{{$idx}}'>
                                            <i class="uil uil-{{$item.Icon}}"></i>
                                        </a>
                                    {{ else }}
                                        <h2 class="mb-0 text-{{$item.Color}}">
                                            <span>{{ Trans (print "SIDEBAR." $item.Name)}}</span>
                                        </h2>
                                    {{ end }}
                                </div>
                            </div>
                        </section>
                    {{else}}
                        <section class="wrapper bg-light">
                            <div>
                                <div class="row">
                                    <div class="col-12 mb-3">
                                        <section class="wrapper">
                                            <div class="card">
                                                <div class="card-body p-3 p-lg-10">
                                                    <h2 class="mb-3" data-test='page-title'>{{ Trans (print "SIDEBAR." $item.Name)}} - ({{ Incr $.CurrentPerson}}/{{$.NumberOfPerson}})</h2>
                                                    <form name="profile" action="{{ if $.Data.Logged }}/profile/{{ $.CurrentPerson }}{{ else }}/estates/{{ $.Data.Uuid }}/form{{ end }}" method="post">
                                                        <div class="row gx-4">
                                                            <div class="col-md-3 col-12 p-3">
                                                                {{ Trans "FORM.IDENTITY.ProfileType" }}<strong>*</strong>
                                                            </div>
                                                            <div class="col-md-9 col-12 align-content-center">
                                                                <div class="form-floating row align-items-center ms-1">
                                                                    <div class="col-md-5 form-check">
                                                                        <input class="form-check-input" type="radio" name="profile_type" id="form_profile_type_1" {{if or (eq $.Data.Type.Value "tenant") (not $.Data.Type.Value)}}checked{{end}} value="tenant">
                                                                        <label class="form-check-label" for="form_profile_type_1">{{ Trans "FORM.IDENTITY.Tenant" }}</label>
                                                                    </div>
                                                                    <div class="col-md-5 form-check">
                                                                        <input class="form-check-input" type="radio" name="profile_type" id="form_profile_type_2" {{if eq $.Data.Type.Value "warrantor"}}checked{{end}} value="warrantor">
                                                                        <label class="form-check-label" for="form_profile_type_2">{{ Trans "FORM.IDENTITY.Warrantor" }}</label>
                                                                    </div>
                                                                    {{ if $.Data.Type.ErrorMsg}}
                                                                        <div class="invalid-feedback d-block" data-test='profile_type_err'>
                                                                            {{ $.Data.Type.ErrorMsg }}
                                                                        </div>
                                                                    {{ end }}
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3 col-12 p-3">
                                                                {{ Trans "FORM.IDENTITY.Firstname" }}<strong>*</strong>
                                                            </div>
                                                            <div class="col-md-9 col-12">
                                                                <div class="form-floating mb-4">
                                                                    <input id="form_firstname" class="form-control" type="text" name="firstname" placeholder="{{ Trans "FORM.IDENTITY.Firstname" }}" value="{{ $.Data.Firstname.Value }}" required tabindex="1">
                                                                    <label for="form_firstname">{{ Trans "FORM.IDENTITY.Firstname" }}</label>
                                                                    {{ if $.Data.Firstname.ErrorMsg}}
                                                                        <div class="invalid-feedback d-block" data-test='firstname_err'>
                                                                            {{ $.Data.Firstname.ErrorMsg }}
                                                                        </div>
                                                                    {{ end }}
                                                                </div>
                                                            </div>

                                                            <div class="col-md-3 col-12 p-3">
                                                                {{ Trans "FORM.IDENTITY.Lastname" }}<strong>*</strong>
                                                            </div>
                                                            <div class="col-md-9 col-12">
                                                                <div class="form-floating mb-4">
                                                                    <input id="form_name" class="form-control" type="text" name="lastname" placeholder="{{ Trans "FORM.IDENTITY.Lastname" }}" value="{{ $.Data.Lastname.Value }}" required tabindex="2">
                                                                    <label for="form_name">{{ Trans "FORM.IDENTITY.Lastname" }}</label>
                                                                    {{ if $.Data.Lastname.ErrorMsg}}
                                                                        <div class="invalid-feedback d-block" data-test='lastname_err'>
                                                                            {{ $.Data.Lastname.ErrorMsg }}
                                                                        </div>
                                                                    {{ end }}
                                                                </div>
                                                            </div>

                                                            <div class="col-md-3 col-12 p-3">
                                                                {{ Trans "FORM.IDENTITY.Email" }}<strong>*</strong>
                                                            </div>
                                                            <div class="col-md-9 col-12">
                                                                <div class="form-floating mb-4">
                                                                    <input id="form_email" class="form-control" type="email" name="email" placeholder="{{ Trans "FORM.IDENTITY.Email" }}" value="{{ $.Data.Email.Value }}" required tabindex="3">
                                                                    <label for="form_email">{{ Trans "FORM.IDENTITY.Email" }}</label>
                                                                    {{ if $.Data.Email.ErrorMsg}}
                                                                        <div class="invalid-feedback d-block" data-test='email_err'>
                                                                            {{ $.Data.Email.ErrorMsg }}
                                                                        </div>
                                                                    {{ end }}
                                                                </div>
                                                            </div>

                                                            <div class="col-md-3 col-12 p-3">
                                                                {{ Trans "FORM.IDENTITY.Phone" }}<strong>*</strong>
                                                            </div>
                                                            <div class="col-md-9 col-12">
                                                                <div class="form-floating mb-4">
                                                                    <input id="form_phone" class="form-control" type="tel" name="phone" placeholder="{{ Trans "FORM.IDENTITY.Phone" }}" value="{{ $.Data.Phone.Value }}" required tabindex="4">
                                                                    <label for="form_phone">{{ Trans "FORM.IDENTITY.Phone" }}</label>
                                                                    {{ if $.Data.Phone.ErrorMsg}}
                                                                        <div class="invalid-feedback d-block" data-test='phone_err'>
                                                                            {{ $.Data.Phone.ErrorMsg }}
                                                                        </div>
                                                                    {{ end }}
                                                                </div>
                                                            </div>

                                                            <div class="col-md-3 col-12 p-3">
                                                                {{ Trans "FORM.IDENTITY.MainIncome" }}<strong>*</strong>
                                                                <a class="text-ash" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ Trans "FORM.IDENTITY.MainIncomeDesc" }}">
                                                                    <i class="uil uil-question-circle fs-15" aria-hidden="true"></i>
                                                                </a>
                                                            </div>
                                                            <div class="col-md-9 col-12">
                                                                <div class="form-floating mb-4">
                                                                    <input id="form_main_income" class="form-control" type="number" name="main_income" placeholder="{{ Trans "FORM.IDENTITY.MainIncome" }}" value="{{ $.Data.MainIncome.Value }}" required tabindex="5">
                                                                    <label for="form_main_income">{{ Trans "FORM.IDENTITY.MainIncome" }}</label>
                                                                    {{ if $.Data.MainIncome.ErrorMsg}}
                                                                        <div class="invalid-feedback d-block" data-test='main_income_err'>
                                                                            {{ $.Data.MainIncome.ErrorMsg }}
                                                                        </div>
                                                                    {{ end }}
                                                                </div>
                                                            </div>

                                                            <div class="col-md-3 col-12 p-3">
                                                                {{ Trans "FORM.IDENTITY.SideIncome" }}
                                                                <a class="text-ash" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ Trans "FORM.IDENTITY.SideIncomeDesc" }}">
                                                                    <i class="uil uil-question-circle fs-15" aria-hidden="true"></i>
                                                                </a>
                                                            </div>
                                                            <div class="col-md-9 col-12">
                                                                <div class="form-floating mb-4">
                                                                    <input id="form_side_income" class="form-control" type="number" name="side_income" placeholder="{{ Trans "FORM.IDENTITY.SideIncome" }}" value="{{ $.Data.SideIncome.Value }}" tabindex="6">
                                                                    <label for="form_side_income">{{ Trans "FORM.IDENTITY.SideIncome" }}</label>
                                                                    {{ if $.Data.SideIncome.ErrorMsg}}
                                                                        <div class="invalid-feedback d-block" data-test='side_income_err'>
                                                                            {{ $.Data.SideIncome.ErrorMsg }}
                                                                        </div>
                                                                    {{ end }}
                                                                </div>
                                                            </div>

                                                            <div class="col-md-3 col-12 p-3">
                                                                <label for="form_status">{{ Trans "FORM.IDENTITY.Status" }}</label><strong>*</strong>
                                                            </div>
                                                            <div class="col-md-9 col-12">
                                                                <div class="form-select-wrapper mb-4">
                                                                    <select class="form-select" id="form_status" name="status" required tabindex="7">
                                                                        <option disabled {{ if eq $.Data.Status.Value "" }} selected {{end}} value="">
                                                                            {{ Trans "FORM.COMPANY.ContractPlaceholder" }}
                                                                        </option>
                                                                        {{range $idx, $status := $.Status}}
                                                                            <option value="{{$status}}"  {{ if eq $.Data.Status.Value $status }} selected {{end}}>
                                                                                {{ Trans (print "PROFILE.STATUS." $status) }}
                                                                            </option>
                                                                        {{end}}
                                                                    </select>
                                                                    {{ if $.Data.Status.ErrorMsg}}
                                                                        <div class="invalid-feedback d-block" data-test='status_err'>
                                                                            {{$.Data.Status.ErrorMsg }}
                                                                        </div>
                                                                    {{ end }}
                                                                </div>
                                                            </div>

                                                            {{if $.ValidationAgree }}
                                                                <input class="form-check-input" id="checkboxAgreed" type="hidden" name="agreed" value="true">
                                                            {{ else }}
                                                                <div class="col-md-3 col-12 p-3"></div>
                                                                <div class="col-md-9 col-12">
                                                                <div class="mb-4 form-check">
                                                                        <input class="form-check-input border border-dark" id="checkboxAgreed" type="checkbox" name="agreed" required>
                                                                        <label class="form-check-label" for="checkboxAgreed">
                                                                            {{ Trans "VALIDATION.Agree1" }}
                                                                            <a href="/information/tou" target="_blank" data-test="cgu-link">{{ Trans "VALIDATION.Agree2" }}</a>
                                                                            <strong>*</strong>
                                                                        </label>
                                                                        {{ if $.Data.AgreedErrorMsg}}
                                                                            <div class="invalid-feedback d-block" data-test='agreed_err'>
                                                                                {{$.Data.AgreedErrorMsg }}
                                                                            </div>
                                                                        {{ end }}
                                                                    </div>
                                                                </div>
                                                            {{ end }}

                                                            <div class="col-12 d-flex mt-4 flex-wrap">
                                                                {{ if and $.Data.Logged $.CurrentPerson }}<a href="/profile/{{ Decr $.CurrentPerson }}" data-test="previous_button" class="btn btn-soft-ash rounded-pill me-3 mb-3">{{ Trans "FORM.PreviousButton" }}</a>{{ end }}
                                                                <button type="submit" class="btn btn-soft-ash rounded-pill me-3 mb-3" name="action" value="save">{{ Trans "FORM.SaveButton"}}</button>
                                                                <button type="submit" class="btn btn-primary rounded-pill mb-3" name="action" value="continue">{{ Trans "FORM.ContinueButton"}}</button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </section>
                                    </div>
                                </div>
                            </div>
                        </section>
                        {{end}}
                    </div>
                {{end}}
            </div>
        </div>
    </section>
{{end}}
