{{define "body"}}
<section class="wrapper bg-light">
    <div class="container py-8 py-md-14">
        <div class="row">
            {{range $idx, $item := .Items}}
                <div class="col-12 mb-3">
                    {{if not $item.Active }}
                        <section class="wrapper">
                            <div class="card">
                                <div class="card-body px-4 py-2 d-flex justify-content-between">
                                    {{ if $item.IsUsable }}
                                    <a href="{{$item.Link}}" class="hover link-{{$item.Color}}">
                                        <h2 class="mb-0 text-{{$item.Color}}">
                                            <span>
                                            {{ Trans (print "SIDEBAR." $item.Name)}}
                                            </span>
                                            <i class="uil uil-pen"></i>
                                        </h2>
                                    </a>
                                    <a href="{{$item.Link}}" class="btn btn-circle btn-soft-{{$item.Color}} btn-sm flex-shrink-0" data-test='form-link-{{$idx}}'>
                                        <i class="uil uil-{{$item.Icon}}"></i>
                                    </a>
                                    {{ else }}
                                        <h2 class="mb-0 text-{{$item.Color}}">
                                            <span>
                                            {{ Trans (print "SIDEBAR." $item.Name)}}
                                            </span>
                                        </h2>
                                    {{ end }}
                                </div>
                            </div>
                        </section>
                    {{else}}
                        <section class="wrapper bg-light">
                            <div class="row">
                                <div class="col-12 mb-3">
                                    <div class="card">
                                        <div class="card-body p-3 p-lg-10">
                                            <h2 class="mb-3" data-test='page-title'>  {{ Trans (print "SIDEBAR." $item.Name)}}</h2>
                                            <form name="sort" action="/sort" method="post">
                                                <div class="row">
                                                    <div class="d-none d-lg-block col-lg-3">
                                                        <ul class="list-group">
                                                            {{ range $idx, $file := $.Data.Files }}
                                                                <li class="list-group-item list-group-item-action {{ if eq $file.Uuid $.Data.Active.Uuid }}active{{ end }}" href="/sort/{{ $file.Uuid }}" style="word-break: break-all;">
                                                                    <a href="/sort/{{ $file.Uuid }}" data-test="file-link-{{$idx}}">
                                                                        <i class="fa {{ if $file.Sorted }}fa-check-circle text-success{{ else }}fa-question-circle text-warning{{ end }} fs-20" aria-hidden="true" data-test="checkmark-{{$idx}}"></i>
                                                                        <span data-test="filename-{{$idx}}" class="text-break text-navy">{{ $file.Name }}</span>
                                                                    </a>
                                                                </li>
                                                            {{ end }}
                                                        </ul>
                                                    </div>

                                                    <div class="d-flex flex-col col d-lg-none flex-wrap my-3">
                                                        {{ range $idx, $file := $.Data.Files }}
                                                            <div class="badge border text-truncate col-xs-1 col-sm-2 {{ if eq $file.Uuid $.Data.Active.Uuid }}bg-blue{{ end }}" href="/sort/{{ $file.Uuid }}" style="word-break: break-all;">
                                                                <a href="/sort/{{ $file.Uuid }}" data-test="file-link-{{$idx}}">
                                                                    <i class="fa {{ if $file.Sorted }}fa-check-circle text-success{{ else }}fa-question-circle text-warning{{ end }} fs-20" aria-hidden="true" data-test="checkmark-mobile-{{$idx}}"></i>
                                                                    <span data-test="filename-mobile-{{$idx}}" class="text-break text-navy">{{ $file.Name }}</span>
                                                                </a>
                                                            </div>
                                                        {{ end }}
                                                    </div>

                                                    <div class="col-12 col-lg-6">
                                                        <figure class="rounded h-100">
                                                            <input type="hidden" name="uuid" value="{{ $.Data.Active.Uuid }}"/>
                                                            {{if eq $.Data.Active.Type ".pdf"}}
                                                            <object class="img-fluid rounded-1 w-100 h-100" data="/file/{{ $.Data.Active.Uuid }}" type="application/pdf" alt="" data-test="active-file-pdf">
                                                                <canvas id="pdf-canvas" class="w-100 h-100"></canvas>
                                                                <script src="/public/js/pdf.mjs" type="module"></script>
                                                                <script type="module">
                                                                    import { RenderPDF } from '/public/js/pdf.render.mjs';
                                                                    RenderPDF("/file/{{ $.Data.Active.Uuid }}","pdf-canvas");
                                                                </script>
                                                            </object>
                                                            {{else}}
                                                            <img class="img-fluid rounded-1" src="/file/{{ $.Data.Active.Uuid }}" alt="" data-test="active-file" />
                                                            {{end}}
                                                        </figure>
                                                        <div class="d-flex d-lg-none mt-2 gap-2">
                                                            <a class="btn btn-sm btn-soft-ash rounded-pill{{ if not $.Data.Prev.Uuid }} disabled{{ end }}" href="/sort/{{ $.Data.Prev.Uuid }}">
                                                                <i class="fa fa-arrow-left" aria-hidden="true"></i>
                                                            </a>
                                                            <div class="w-100">
                                                                <div class="dropdown dropup">
                                                                    <button type="button" class="btn btn-sm rounded-pill dropdown-toggle w-100 btn-{{ if $.Data.ActiveKind.Color }}{{ $.Data.ActiveKind.Color }}{{ else }}soft-ash{{ end }}" data-bs-toggle="dropdown" aria-expanded="false">
                                                                        <span class="text-truncate">
                                                                             {{ if $.Data.ActiveKind.Value }}
                                                                                 {{ Trans (print "SORT.KIND." $.Data.ActiveKind.Value) }}
                                                                             {{ else }}
                                                                                 {{ Trans "SORT.KindBtn" }}
                                                                             {{ end }}
                                                                        </span>
                                                                    </button>
                                                                    <ul class="dropdown-menu p-2">
                                                                        {{ range $idx, $kind := $.Data.Kinds }}
                                                                            <li class="mb-1">
                                                                                <button type="submit" class="btn btn-sm w-100 btn-{{ $kind.Color }}" name="kind" value="{{ $kind.Value }}" data-test="sort-btn-{{$idx}}">
                                                                                    {{ Trans (print "SORT.KIND." $kind.Value) }}
                                                                                </button>
                                                                            </li>
                                                                        {{ end }}
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <a class="btn btn-sm btn-soft-ash rounded-pill{{ if not $.Data.Next.Uuid }} disabled{{ end }}" href="/sort/{{ $.Data.Next.Uuid }}">
                                                                <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="d-none d-lg-block col-lg-3" id="kinds-lg">
                                                        {{ range $idx, $kind := $.Data.Kinds }}
                                                            <button id="kind-lg-{{ $kind.Value }}" type="submit" class="btn btn-{{ if not (eq $kind.Value $.Data.Active.Kind ) }}outline-{{end}}{{ $kind.Color }} rounded-pill btn-sm w-100 mb-2" name="kind" value="{{ $kind.Value }}">
                                                                {{ Trans (print "SORT.KIND." $kind.Value) }}
                                                            </button>
                                                        {{ end }}
                                                    </div>
                                                </div>
                                            </form>
                                            <form name="sort_comment" action="/comment" method="post">
                                                <div class="row my-12 my-lg-4">
                                                    <div>
                                                        <label for="form_comment" class="form-label">{{ Trans "SORT.Comment" }}</label>
                                                        <textarea id="form_comment" name="comment" class="form-control" placeholder="{{ Trans "SORT.Comment" }}" style="height: 150px" data-test="comment">{{ $.Data.Comment }}</textarea>
                                                        {{ if $.Data.Errors.Comment }}
                                                            <div class="invalid-feedback d-block" data-test='comment_err'>
                                                                {{ $.Data.Errors.Comment }}
                                                            </div>
                                                        {{ end }}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-8 d-flex mt-4 flex-wrap">
                                                        <button type="submit" class="btn btn-soft-ash rounded-pill me-3 mb-3" name="action" value="save">{{ Trans "FORM.SaveButton"}}</button>
                                                        <button type="submit" class="btn btn-primary rounded-pill mb-3" name="action" value="continue">{{ Trans "FORM.ContinueButton"}}</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    {{end}}
                </div>
            {{end}}
        </div>
    </div>
</section>
{{end}}
