{{define "body"}}
<section class="wrapper bg-light">
    <div class="container pt-8 pt-md-14">
        <div class="row gx-lg-0 gx-xl-8 gy-10 gy-md-13 gy-lg-0 mb-7 mb-md-2 mb-lg-5">
            <div class="col mt-lg-n10 text-center text-lg-start">
                <h1 class="display-1 mb-5" data-test="page-title">
                    {{ Trans "VALIDATION.CompleteTitle" }}
                </h1>
            </div>
        </div>
        <div class="d-flex justify-content-end p-3">
            <a href="/profile/new" class="btn btn-primary fs-12" data-test="add-person">{{Trans "VALIDATION.AddPerson" }}</a>
        </div>
        <div class="row gx-md-5 gy-5 pb-8">
            <div class="col-md-12 col-xl-12">
                <div class="row">
                  {{ range $idx, $profile :=  $.Data.Profiles }}
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <div class="card-body p-4">
                                <h5 class="card-title pt-1" data-test="profile-name-{{$idx}}">{{$profile.Firstname}} {{$profile.Lastname}} - {{Trans (print "PROFILE.TYPE." $profile.Type)}}</h5>
                                <p class="card-text mb-0" data-test="profile-status-{{$idx}}">{{if $profile.Status}}{{ Trans (print "PROFILE.STATUS." $profile.Status) }}{{end}}</p>
                                <p class="card-text mb-0" data-test="profile-income-{{$idx}}">
                                    {{if $profile.MainIncome}}{{$profile.MainIncome}}€{{end}}
                                    {{if $profile.SideIncome}} - {{$profile.SideIncome}}€{{end}}
                                </p>
                                {{ if $profile.Phone}}
                                    <div class="d-flex">
                                        <i class="uil uil-phone-volume me-1"></i>
                                        <p class="card-text" data-test="profile-phone-{{$idx}}">{{$profile.Phone}}</p>
                                    </div>
                                {{end}}
                                {{if $profile.Email}}
                                    <div class="d-flex text-truncate">
                                        <i class="uil uil-envelope me-1"></i>
                                        <p class="card-text" data-test="profile-email-{{$idx}}">{{$profile.Email}}</p>
                                    </div>
                                {{end}}
                                <div class="float-end end-0 bottom-0" >
                                  <a href="/profile/{{$idx}}" data-test="profile-{{$idx}}-link"><i class="uil uil-pen"></i></a>
                                  {{if not (eq $idx 0)}}
                                  <a  href="/profile/{{$profile.Uuid}}/delete" class="text-danger" data-test="delete-link-{{$idx}}"><i class="uil uil-trash-alt"></i></a>
                                  {{end}}
                                </div>
                            </div>
                        </div>
                    </div>
                    {{end}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-xl-12">
                <div class="card mb-3">
                    <div class="card-body p-4">
                        <div class="row"> 
                          <h5 class="card-title col-6">{{ Trans "PROFILE.DocumentsFiled" }}</h5>
                          <div class="d-flex col-6 justify-content-end">
                              <a href="/batch" class="btn btn-primary fs-12 text-wrap" data-test="add-delete-button">{{Trans "VALIDATION.AddDocument" }}</a>
                          </div>
                        </div>
                        
                        <div class="row p-3">
                          {{ range $idx, $file :=  $.Data.SortedFiles }}
                                <div class="col-12 col-md-3 col-lg-2 p-1">
                                  <div class="card h-100">
                                  <a href="/file/{{ $file.Uuid }}" class="stretched-link" target="_blank" data-test="file-link-{{$idx}}">
                                    {{ if eq $file.Type ".pdf" }}
                                      <div class="card-img-top h-12 text-center p-2">
                                        <i class="fa fa-file-pdf-o fs-50" aria-hidden="true"></i>
                                      </div>
                                    {{ else }}
                                      <img class="card-img-top h-12" style="object-fit: cover" src="/file/{{ $file.Uuid }}/thumbnail" alt="" data-test="file-thumbnail-{{$idx}}" />
                                    {{ end }}
                                    </a>
                                    <div class="card-text px-2 pt-2">
                                      <p class="text-ash fs-13 p-0 mb-1 lh-sm" data-test="file-kind-{{$idx}}">{{ Trans (print "SORT.KIND." $file.Kind) }}</p>
                                    </div>
                                  </div>
                                </div>
                          {{ end }}
                          {{ if .Data.UnsortedFiles }}
                                <div class="col-12 col-md-3 col-lg-2 p-1">
                                  <div class="card h-100">
                                    <div class="card-img-top h-12 text-center p-2">
                                      <i class="fa fa-files-o fs-50" aria-hidden="true"></i>
                                    </div>
                                    <div class="card-text px-2 pt-2">
                                      <p class="text-ash fs-11 p-0 mb-1 lh-sm" data-test="file-kind">{{Trans "SORT.KIND.user_to_sort" "%number%" .Data.UnsortedFiles }}</p>
                                    </div>
                                  </div>
                                </div>
                          {{ end }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fs-12">
          <span class="fw-bolder">{{ Trans "VALIDATION.LastModification" }} :</span> {{DateFormat .CompletedAt}}
        </div>
        <div class="row pb-10">
            <div class="col-12">
                <div class="d-flex flex-column flex-lg-row justify-content-center align-items-center">
                    <a href="/dashboard" data-test="validate-button" class="ms-3 btn btn-primary rounded-pill">{{Trans "VALIDATION.ValidateButton"}}</a>
                </div>
            </div>
        </div>
    </div>
</section>


{{ end }}
