{{define "body"}}
<section class="wrapper bg-light">
    <div class="container py-8 py-md-4">
        <div class="row">
            <h1 class="text-center display-2 mt-6 mb-3" data-test="page-title">
                {{ Trans "VERIFICATION_MITRUST.Title" }}
            </h1>
            <h3 class="text-center mt-6 mb-3 px-12" data-test="page-subtitle">
                {{ Trans "VERIFICATION_MITRUST.Subtitle" }}
            </h3>
        </div>
        <div class="row gy-6 mt-3 mt-md-5 justify-content-center">
            {{range $idx, $profile := .Data}}
                <div class="col-md-6">
                    <div class="card shadow-lg">
                        <div class="card-body">
                            <div class="blockquote-details pb-2">
                                <h2 class="m-0 pe-2" data-test="profile-name-{{$idx}}">{{$profile.Name}}</h4>
                                {{ if or $profile.RevenuMiTrustLink $profile.IdentityMiTrustLink}}
                                    <span class="badge bg-pale-dark text-dark rounded-pill" data-test="profile-badge-{{$idx}}">
                                        {{ Trans "VERIFICATION_MITRUST.waiting" }}
                                    </span>
                                {{ else }}
                                    <span class="badge bg-primary rounded-pill" data-test="profile-badge-{{$idx}}">
                                        {{ Trans "VERIFICATION_MITRUST.certify" }}
                                    </span>
                                {{ end }}
                            </div>
                            <h5 data-test="profile-email-{{$idx}}">{{ $profile.Email }}</h5>
                            <div class="card shadow-lg mb-6">
                                <div class="card-body">
                                    <img src="public/img/icons/solid/verify.svg" class="svg-inject icon-svg icon-svg-xs solid-duo text-navy-sky" alt="" />
                                    <h5 class="text-center mt-2 mb-6" >
                                        {{ Trans "VERIFICATION_MITRUST.verify_id.title" }}
                                    </h5>
                                    <p class="text-center mb-1">
                                        {{ Trans "VERIFICATION_MITRUST.verify_id.subtitle" }}
                                    </p>
                                    <ul class="list-unstyled mb-0">
                                        <li class="text-center">
                                            <span>- {{ Trans "VERIFICATION_MITRUST.verify_id.id_card"}}</span>
                                        </li>
                                        <li class="text-center">
                                            <span>- {{ Trans "VERIFICATION_MITRUST.verify_id.passport"}}</span>
                                        </li>
                                        <li class="text-center">
                                            <span>- {{ Trans "VERIFICATION_MITRUST.verify_id.resident_permit"}}</span>
                                        </li>
                                    </ul>
                                    <div class="text-center">
                                        {{ if $profile.IdentityMiTrustLink}}
                                            <a href="{{ $profile.IdentityMiTrustLink }}" data-test="profile-verify-id-{{$idx}}" class="btn btn-primary btn-sm rounded-pill mt-4 px-2">{{ Trans "VERIFICATION_MITRUST.start_certify"}}</a>
                                        {{ else }}
                                            <a class="btn btn-primary btn-sm rounded-pill mt-4 px-2">
                                                <i class="uil uil-check pe-2" data-test="profile-id-is-verified-{{$idx}}"></i> {{ Trans "VERIFICATION_MITRUST.certify" }}
                                            </a>
                                        {{ end }}
                                    </div>
                                    <div class="blockquote-details justify-content-center py-2">
                                        <p class="text-center mb-2 me-1">
                                            {{ Trans "VERIFICATION_MITRUST.secured_by" }}
                                        </p>
                                        <img src="/public/img/svg/mitrust.svg" class="svg-inject icon-svg icon-svg-sm text-primary mb-2" style="width: 75px;" alt="" />
                                    </div>
                                </div>
                            </div>
                            <div class="card shadow-lg mb-3">
                                <div class="card-body">
                                    <img src="public/img/icons/solid/wallet.svg" class="svg-inject icon-svg icon-svg-xs solid-duo text-navy-sky" alt="" />
                                    <h5 class="text-center mt-2 mb-6" >
                                        {{ Trans "VERIFICATION_MITRUST.verify_revenu.title" }}
                                    </h5>
                                    <p class="text-center mb-1">
                                        {{ Trans "VERIFICATION_MITRUST.verify_revenu.subtitle" }}
                                    </p>
                                    <div class="text-center">
                                        {{ if $profile.RevenuMiTrustLink}}
                                            <a href="{{ $profile.RevenuMiTrustLink }}" data-test="profile-verify-revenu-{{$idx}}" class="btn btn-primary btn-sm rounded-pill mt-4 px-2">{{ Trans "VERIFICATION_MITRUST.start_certify"}}</a>
                                        {{ else }}
                                            <a class="btn btn-primary btn-sm rounded-pill mt-4 px-2">
                                                <i class="uil uil-check pe-2" data-test="profile-revenu-is-verified-{{$idx}}"></i> {{ Trans "VERIFICATION_MITRUST.certify" }}
                                            </a>
                                        {{ end }}
                                    </div>
                                    <div class="blockquote-details justify-content-center py-2">
                                        <p class="text-center mb-2 me-1">
                                            {{ Trans "VERIFICATION_MITRUST.secured_by" }}
                                        </p>
                                        <img src="/public/img/svg/mitrust.svg" class="svg-inject icon-svg icon-svg-sm text-primary mb-2" style="width: 75px;" alt="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {{end}}
        </div>
        <div class="text-end my-6">
            <a href="/validation" class="btn btn-expand btn-soft-primary rounded-pill" data-test="validate-button">
                <i class="uil uil-arrow-right"></i>
                <span>{{ Trans "VERIFICATION_MITRUST.validate"}}</span>
            </a>
        </div>

    </div>
</section>
{{end}}