{{define "body"}}
<section class="wrapper bg-light">
    <div class="container py-8 py-md-4">
        <div class="row">
            <h1 class="display-1 mt-6 mb-3" data-test="page-title">
                {{ Trans "VERIFICATION_CHECK.Title" }}
            </h1>
        </div>
        <div class="row">
            <form method="post" name="check">
                <div class="col-4">
                    <div class="mb-3">
                        <label for="id" class="form-label">{{Trans "VERIFICATION_CHECK.Form.Identity"}}</label>
                        <input type="text" class="form-control is-valid" id="id" disabled value="{{.Data.Identity}}">
                    </div>
                    <div class="mb-3">
                        <label for="incomes" class="form-label">{{Trans "VERIFICATION_CHECK.Form.Incomes"}}</label>
                        <input type="text" class="form-control is-valid" id="incomes" disabled value="{{.Data.Incomes}}">
                    </div>
                    <div class="mb-3">
                        <label for="address" class="form-label">{{Trans "VERIFICATION_CHECK.Form.Address"}}</label>
                        <input type="text" class="form-control is-invalid" id="address" disabled value="{{.Data.Address}}">
                    </div>
                </div>
                <div class="row mb-3 align-items-end">
                    <div class="col-4 text-end">
                        <div>{{Trans "VERIFICATION_CHECK.Form.Error"}}</div>
                        <div>
                            <a href="/review/trust" class="btn btn-sm btn-primary btn-icon btn-icon-start">
                                <i class="uil uil-redo"></i>
                                {{Trans "VERIFICATION_CHECK.Form.RestartButton"}}
                            </a>
                        </div>
                    </div>
                    <div class="col-6 text-end">
                        <button type="submit" class="btn btn-sm btn-primary btn-icon btn-icon-start">
                            <i class="uil uil-check"></i>
                            {{Trans "VERIFICATION_CHECK.Form.ValidateButton"}}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
{{end}}