{{define "body"}}
<section class="wrapper bg-light">
    <div class="container py-8 py-md-4">
        <div class="row">
            <div class="col-3">
                <div class="pricing card text-center">
                    <div class="card-body">
                        <img src="/public/img/svg/mitrust.svg" class="svg-inject icon-svg icon-svg-sm text-primary mb-2" style="width: 150px;" alt="" />
                        <h4 class="card-title">{{ Trans "VERIFICATION.Method2.Title" }}</h4>
                        <ul class="icon-list bullet-bg bullet-soft-primary mt-7 mb-8 text-start">
                            <li><i class="uil uil-check"></i><span>{{ Trans "VERIFICATION.Method2.Check1" }}</span></li>
                            <li><i class="uil uil-check"></i><span>{{ Trans "VERIFICATION.Method2.Check2" }}</span></li>
                            <li><i class="uil uil-check"></i><span>{{ Trans "VERIFICATION.Method2.Check3" }}</span></li>
                            <li><i class="uil uil-check"></i><span>{{ Trans "VERIFICATION.Method2.Check4" }}</span></li>
                            <li><i class="uil uil-check"></i><span>{{ Trans "VERIFICATION.Method2.Check5" }}</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-9">
                <div class="card">
                    {{if eq .Step 2 }}
                    <div class="card-body">
                        <h1 class="lead fs-21 lh-sm mb-2" data-test="page-title">
                            {{ Trans "VERIFICATION_FREE.Subtitle2" "%nb%" .MinPartners }}
                        </h1>
                        <p class="lead fs-16 lh-sm mb-2">
                            {{ Trans "VERIFICATION_FREE.Subtitle22" "%nb%" .MinPartners }}
                        </p>
                        <form method="post" name="verification">
                            {{ range $category, $partners := .Partners }}
                                <div class="row card bg-pale-ash mb-2 p-2" data-test="partners-list-{{$category}}">
                                    <h2 class="m-2">{{Trans (print "VERIFICATION_FREE.Categories." $category) }}</h2>
                                    {{ range $idx, $partner := $partners }}
                                    <input class="btn-check position-relative" id="input-{{$partner.ID}}" type="checkbox" name="partner" value="{{ $partner.ID }}" {{if $partner.Selected}}checked{{end}}>
                                    <div class="card bg-light p-2 mb-2">
                                        <div class="d-flex">
                                        {{if $partner.Logo}}
                                            <img class="w-12 h-12 m-2" src="{{$partner.Logo}}" />
                                        {{end}}
                                            <div class="flex-grow-1 mt-2">
                                                <h3>{{ $partner.Label }}</h3>
                                                <div class="fs-14">{{ $partner.Description }}</div>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-around">
                                            <label class="mt-2 p-1 d-flex justify-content-around w-100" for="input-{{$partner.ID}}">
                                                <span class="btn btn-sm btn-success rounded-pill">{{$partner.Cta}}</span>
                                                <i class="uil uil-check d-none fs-48"></i>
                                            </label>
                                        </div>
                                        <div class="fst-italic fs-12 m-2">{{ $partner.Legal }}</div>
                                    </div>
                                    {{ end }}
                                </div>
                            {{ end }}
                            <div class="row ps-4">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" name="agreement" value="agree" required>
                                        {{ Trans "VERIFICATION_FREE.Agreement" }}
                                    </label>
                                </div>
                                <div class="text-end">
                                    <button type="submit" class="btn btn-primary rounded-pill">
                                        {{Trans "VERIFICATION_FREE.Button"}}
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <style>
                        input:checked + div {
                            background-color: #98c455 !important;
                            font-weight: bolder;
                            color: #FFF !important;
                        }
                        input:checked + div h3 {
                            color: #FFF !important;
                        }
                        input:checked + div i {
                            display: block !important;
                            cursor: pointer;
                        }
                        input:checked + div label > span  {
                            display: none;
                        }
                        input + div label  {
                            cursor: pointer;
                        }
                    </style>
                    {{else}}
                    <div class="card-body">
                        <p class="lead fs-21 lh-sm mb-2" data-test="page-title">
                            {{ Trans "VERIFICATION_FREE.Subtitle1" "%nb%" .MinThemes }}
                        </p>
                        <p class="lead fs-21 lh-sm mb-2">
                            {{ Trans "VERIFICATION_FREE.Subtitle12" }}
                        </p>
                        <form method="post" name="verification">
                            <div class="d-flex gap-3 justify-content-center flex-wrap">
                            {{ range $idx, $category := .Categories }}
                                <input  type="checkbox" name="category" id="category-{{$idx}}" value="{{$category.Label}}" {{if $category.Selected }}checked{{end}} />
                                <div class="d-flex card mb-2" data-test="partners-list-{{$idx}}">
                                    <label class="p-2 d-flex flex-column align-items-center" for="category-{{$idx}}">
                                        <img src="/public/img/icons/lineal/{{$category.GetIcon}}.svg" class="svg-inject icon-svg icon-svg-sm text-primary" alt="" />
                                        {{Trans (print "VERIFICATION_FREE.Categories." $category.Label) }}
                                    </label>
                                </div>
                            {{ end }}
                            </div>
                            <div class="row ps-4">
                                <div class="text-end">
                                    <button type="submit" class="btn btn-primary rounded-pill">
                                        {{Trans "VERIFICATION_FREE.Button"}}
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <style>
                        input:checked + div {
                            border: 1px solid #98c455 !important;
                            background-color: #ecf4e0 !important;
                            font-weight: bolder;
                        }
                    </style>
                    {{end}}
                </div>
            </div>
            <div class="d-flex justify-content-end">
                <a href="/review/paid" data-test="paid-validation-link">{{Trans "VERIFICATION_FREE.Free_to_paid"}}</a>
            </div>
        </div>
    </div>
</section>
{{end}}