{{define "body"}}
<!-- https://github.com/sparksuite/simplemde-markdown-editor?tab=readme-ov-file -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">

<section class="wrapper">
  <div class="container py-14 py-md-16">
    <div class="row">
      <div class="col-xl-10 mx-auto">
        <div class="row gx-4">
            <div class="col-12 mb-4">
                <h2 >{{Trans "ARTICLE_EDIT.metadata"}}</h2>
            </div>
            <!-- /column -->
        </div>
        <form method="post" action="">
            <div class="row gx-4">
                <div class="col-md-8">
                    <div class="form-floating mb-4">
                    <input id="form_slug" type="text" name="slug" class="form-control" value="{{.Article.Slug}}" required>
                    <label for="form_slug">{{Trans "ARTICLE_EDIT.slug"}} *</label>
                    {{if not (eq .Errors.Slug "") }}
                    <div class="invalid-feedback  d-block">
                        {{Trans (print "FORM_ERROR." .Errors.Slug)}}
                    </div>
                    {{ end }}
                    </div>
                </div>
                <!-- /column -->
                <div class="col-md-4">
                    <div class="form-floating mb-4">
                      <select class="form-select" id="form-layout" name="layout">
                        {{$article := .Article}}
                        {{ range $idx, $layout := .Article.Layouts }}
                        <option value="{{$layout.Value}}" {{if eq $article.LayoutID $layout.Value}}selected{{end}}>{{$layout.Name}}</option>
                        {{end}}
                      </select>
                      <label for="form-layout">{{Trans "ARTICLE_EDIT.layout"}} *</label>
                      {{if not (eq .Errors.LayoutID "") }}
                      <div class="invalid-feedback  d-block">
                          {{Trans (print "FORM_ERROR." .Errors.LayoutID)}}
                      </div>
                      {{end}}
                    </div>
                </div>
                <!-- /column -->
                <div class="col-md-8">
                    <div class="form-floating mb-4">
                    <input id="form_title" type="text" name="title" class="form-control" placeholder="{{Trans "ARTICLE_ADD.title_placeholder"}}" value="{{.Article.Title}}" required>
                    <label for="form_title">{{Trans "ARTICLE_ADD.title"}} *</label>
                    {{if not (eq .Errors.Title "") }}
                    <div class="invalid-feedback  d-block">
                        {{Trans (print "FORM_ERROR." .Errors.Title)}}
                    </div>
                    {{ end }}
                    </div>
                </div>
                <!-- /column -->
                <div class="col-md-4">
                    <div class="form-floating mb-4">
                    <input id="form_author" type="text" name="author" class="form-control" placeholder="{{Trans "ARTICLE_ADD.author_placeholder"}}" value="{{.Article.Author}}" required>
                    <label for="form_author">{{Trans "ARTICLE_ADD.author"}} *</label>
                    {{if not (eq .Errors.Author "") }}
                    <div class="invalid-feedback  d-block">
                        {{Trans (print "FORM_ERROR." .Errors.Title)}}
                    </div>
                    {{ end }}
                    </div>
                </div>
                <!-- /column -->
                <div class="col-12">
                    <div class="form-check mb-4">
                    <input class="form-check-input" type="checkbox" name="draft" value="{{.Article.Draft}}" id="checkboxDraft" >
                    <label class="form-check-label" for="checkboxDraft">
                        {{Trans "ARTICLE_ADD.draft"}}
                    </label>
                    </div>
                </div>
                <!-- /column -->
                <div class="col-12">
                    <input type="submit" class="btn btn-primary  rounded-pill btn-send mb-3" name="action" value="metadata">
                        {{Trans "ARTICLE_EDIT.submit"}}
                    </input>
                    <p class="text-muted"><strong>*</strong>{{Trans "FORM.field_requiered"}}</p>
                </div>
                <!-- /column -->
            </div>
        </form>
        <div class="row gx-4">
            <div class="col-12 mb-4">
                <h2 >{{Trans "ARTICLE_EDIT.content"}}</h2>
            </div>
        </div>
        <form method="post" action="">
            <div class="row gx-4">
                <div class="col-12">
                  <div class="mb-4">
                    <textarea id="form_content" name="content" class="form-control" style="height: 450px">{{.Article.Content}}</textarea>
                    {{if not (eq .Errors.Content "") }}
                    <div class="invalid-feedback  d-block">
                        {{Trans (print "FORM_ERROR." .Errors.Content)}}
                    </div>
                    {{ end }}
                  </div>
                </div>
                <!-- /column -->
                <div class="col-12">
                    <input type="submit" class="btn btn-primary  rounded-pill btn-send mb-3" name="action" value="content">
                        {{Trans "ARTICLE_EDIT.submit"}}
                    </input>
                </div>
                <!-- /column -->
            </div>
        </form>
        <div class="row gx-4">
            <div class="col-12 mb-4">
                <h2 >{{Trans "ARTICLE_EDIT.blocks"}}</h2>
            </div>
        </div>
        {{ range $idx, $data := .Article.BlockDatas }}
        <form method="post" action="">
            <div class="row gx-4">
                <div class="col-12">
                    <div class="row g-3">
                        <div class="col-auto">
                            <input type="hidden" name="edited_block_id" value="{{$data.ID}}"></input>
                        </div>
                        {{ RenderData $data.Data}}
                        <div class="col-auto">
                            <input type="submit" class="btn btn-primary mb-3" name="action" value="block_edit">
                                {{Trans "ARTICLE_EDIT.block_submit"}}
                            </input>
                        </div>

                    </div>
                </div>
            </div>
        </form>
        <!-- /form -->
        {{end}}
        <form method="post" action="">
            <div class="row gx-4">
                <div class="col-12">
                    <div class="row g-3">
                        <label class="col-sm-2 col-form-label" for="form-block">{{Trans "ARTICLE_EDIT.block"}}</label>
                        <div class="col-auto">
                            <select class="form-select" id="form-block" name="block">
                            <option value="" selected disabled>{{Trans "ARTICLE_EDIT.block_placeholder"}}</option>
                            {{ range $idx, $block := .Article.Blocks }}
                            <option value="{{$block.Value}}">{{$block.Name}}</option>
                            {{end}}
                            </select>
                        </div>
                        <div class="col-auto">
                            <input type="submit" class="btn btn-primary mb-3" name="action" value="add-block">
                                {{Trans "ARTICLE_EDIT.block_submit"}}
                            </input>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!-- /form -->
      </div>
      <!-- /column -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /section -->

<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<script>
var simplemde = new SimpleMDE({
  element: document.getElementById("form_content"),
  promptURLs:true,
  spellChecker:false,
  autosave: {
    enabled: true,
    uniqueId: "{{.Article.Slug}}-editor-autosave",
    delay: 1000
  },
  hideIcons: ["preview", "fullscreen","side-by-side"]
});
</script>


{{end}}
