{{define "title"}}{{ Trans "home.title"}}{{end}}

{{define "body"}}
<section class="wrapper bg-gradient-primary py-3">
	<div class="container">
		<div class="row px-3">
			<div class="col-md-12">
				<h2 class="display-4 mb-3" data-test="page-title">{{Trans "DASHBOARD.Title" "%percent%" (span .CompletionPercent "counter underline aqua")}}</h2>
				<p class="lead fs-lg mb-8">{{Trans "DASHBOARD.Subtitle"}}</p>
				<div class="row gx-lg-8 gx-xl-12 gy-6 process-wrapper line">
					<a href="/profile" class="col-md-6 {{.ClassMiTrust}}" data-test='link-info'>
						<span class="icon btn btn-circle btn-lg btn-soft-primary pe-none mb-4">
							<span class="number">01</span>
						</span>
						<h4 class="mb-1 text-primary">{{Trans "DASHBOARD.Informations"}}</h4>
					</a>
					<a href="/batch" class="col-md-6 {{.ClassMiTrust}}" data-test='link-documents'>
						<span class="icon btn btn-circle btn-lg btn-soft-{{if .HasDocument}}green{{else}}yellow{{end}} pe-none mb-4">
							<span class="number">02</span>
						</span>
						<h4 class="mb-1 text-{{if .HasDocument}}green{{else}}yellow{{end}}">{{Trans "DASHBOARD.Documents"}}</h4>
					</a>
					<a href="/sort" class="col-md-6 {{.ClassMiTrust}}" data-test='link-sort'>
						<span class="icon btn btn-circle btn-lg btn-soft-{{if .HasDocumentSorted}}green{{else}}yellow{{end}} pe-none mb-4">
							<span class="number">03</span>
						</span>
						<h4 class="mb-1 text-{{if .HasDocumentSorted}}green{{else}}yellow{{end}}">{{Trans "DASHBOARD.Sort"}}</h4>
					</a>
					{{if .UseMiTrust }}
					<a href="/review" class="col-md-6 col-lg-3" data-test='link-verification'>
						<span class="icon btn btn-circle btn-lg btn-soft-{{if .HasBeenChecked}}green{{else}}yellow{{end}} pe-none mb-4">
							<span class="number">04</span>
						</span>
						<h4 class="mb-1 text-{{if .HasBeenChecked}}green{{else}}yellow{{end}}">{{Trans "DASHBOARD.Auth"}}</h4>
					</a>
					{{end}}
				</div>
			</div>
		</div>
	</div>
</section>

<section class="wrapper">
	<div class="container">
		<div class="card shadow-lg p-8">
			<div class="row">
				<div class="col">
					<h2 class="text-uppercase fs-16 text-primary mb-3">{{Trans "DASHBOARD.candidature" "%number%" .Total }}</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-12 col-md-6 col-lg-3" data-test="dashboard-filed">
					{{Trans "DASHBOARD.ApplicationFiled"}} ({{len .Filled}})
					{{range $idx,$estate := .Filled}}
					<div class="card mb-2">
						<div style="height: 160px;">
						{{template "carousel" .}}
						</div>
						<div class="card-body p-4">
							<p class="text-primary card-text mb-0" data-test="dashboard-filed-title-{{$idx}}">{{$estate.Title}}</p>
							<h4 class="card-title">{{nl2br (Trans "DASHBOARD.card.subtitle" "%area%" $estate.Area  "%room%" $estate.Room "%rent%" $estate.Rent)}}</h4>
						</div>
					</div>
					{{end}}
				</div>
				<div class="col-12 col-md-6 col-lg-3" data-test="dashboard-tovisit">
					{{Trans "DASHBOARD.ToVisit"}} ({{len .ToVisit}})
					{{range $idx,$estate := .ToVisit}}
					<div class="card mb-2">
						<div style="height: 160px;">
						{{template "carousel" .}}
						</div>
						<div class="card-body p-4">
							<p class="text-primary card-text mb-0" data-test="dashboard-tovisit-title-{{$idx}}">{{$estate.Title}}</p>
							<h4 class="card-title">{{nl2br (Trans "DASHBOARD.card.subtitle" "%area%" $estate.Area  "%room%" $estate.Room "%rent%" $estate.Rent)}}</h4>
						</div>
					</div>
					{{end}}
				</div>
				<div class="col-12 col-md-6 col-lg-3" data-test="dashboard-planified">
					{{Trans "DASHBOARD.Planified"}} ({{len .Planified}})
					{{range $idx,$estate := .Planified}}
					<div class="card mb-2">
						<div style="height: 160px;">
						{{template "carousel" .}}
						</div>
						<div class="card-body p-4">
							<p class="text-primary card-text mb-0" data-test="dashboard-planified-title-{{$idx}}">{{$estate.Title}}</p>
							<h4 class="card-title">{{nl2br (Trans "DASHBOARD.card.subtitle" "%area%" $estate.Area  "%room%" $estate.Room "%rent%" $estate.Rent)}}</h4>
						</div>
					</div>
					{{end}}
				</div>
				<div class="col-12 col-md-6 col-lg-3" data-test="dashboard-done">
					{{Trans "DASHBOARD.Done"}} ({{len .Done}})
					{{range $idx,$estate := .Done}}
					<div class="card mb-2">
						<div style="height: 160px;">
						{{template "carousel" .}}
						</div>
						<div class="card-body p-4">
							<p class="text-primary card-text mb-0" data-test="dashboard-done-title-{{$idx}}">{{$estate.Title}}</p>
							<h4 class="card-title">{{nl2br (Trans "DASHBOARD.card.subtitle" "%area%" $estate.Area  "%room%" $estate.Room "%rent%" $estate.Rent)}}</h4>
						</div>
					</div>
					{{end}}
			</div>
		</div>
	</div>
</section>
{{end}}
