{{define "body"}}
<section class="wrapper">
  <div class="container py-14 py-md-16">
    <div class="row">
      <div class="col-xl-10 mx-auto">
        <form method="post" action="" enctype="multipart/form-data">
            <div class="row gx-4">
                <div class="col-md-8">
                     <div class="mb-4">
                         <label for="formFile" class="form-label">{{Trans "FILE_ADD.file"}} *</label>
                         <input class="form-control" name="content" type="file" id="formFile"  required>
                         {{if not (eq .Errors.Content "") }}
                         <div class="invalid-feedback d-block">
                             {{Trans (print "FILE_ADD.errors." .Errors.Content)}}
                         </div>
                         {{ end }}
                     </div>
                 </div>
                <!-- /column -->
                <div class="col-12">
                    <input type="submit" class="btn btn-primary rounded-pill btn-send mb-3" value="{{Trans "FILE_ADD.submit"}}">
                    <p class="text-muted"><strong>*</strong>{{Trans "FORM.field_requiered"}}</p>
                </div>
                <!-- /column -->
            </div>
            <!-- /.row -->
        </form>
        <!-- /form -->
      </div>
      <!-- /column -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /section -->
{{end}}
