.authorization-legal [type=radio] {
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;
}

.authorization-legal [type=radio]:checked + .svg{
	border-radius: 5px;
	background-color: #e4f1f6 !important;
}

@font-face {
    font-family: 'BlackHawk';
    src: url("/public/fonts/BlackHawk.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cheddarjack';
    src: url("/public/fonts/cheddarjack.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Loveletter';
    src: url("/public/fonts/Loveletter.ttf");
    font-weight: normal;
    font-style: normal;
}