<!DOCTYPE html>
<html>
    {{template "head" .}}
    <body>
        <div class="content-wrapper">
            {{template "header" .}}
            <main id="content" role="main">
                {{template "breadcrumb" .}}
                {{ template "flash" . }}
                {{template "body" .PageData}}
            </main>
        </div>
        {{template "progress"}}
        {{template "footer" .}}
        {{template "script" .}}
    </body>
</html>
