{{define "footer"}}
<footer class="bg-white">
  <div class="container pt-8 pt-md-10 pb-7">
	<div class="row gx-lg-0 gy-6">
	  <div class="col-lg-4">
		<div class="widget">
		  <img class="mb-4" src="/public/img/logo-green.svg" style="height: 40px;" alt="" />
		  <p class="lead mb-0">{{ Trans "footer.tagline"  }}</p>
		</div>
		<div class="widget">
			<a data-test='footer-link' href="/information/tou">{{ Trans "footer.legal"  }}</a>
		</div>
		<!-- /.widget -->
	  </div>
	  <!-- /column -->
	  <div class="col-lg-3 offset-lg-2">
		<div class="widget">
		  <div class="d-flex flex-row">
			<div>
			  <div class="icon text-primary fs-28 me-4 mt-n1"> <i class="uil uil-phone-volume"></i> </div>
			</div>
			<div>
			  <h5 class="mb-1">{{Trans "footer.phone"}}</h5>
			  <p class="mb-0">{{Trans "footer.phone_value"}}</p>
			</div>
		  </div>
		  <!--/div -->
		</div>
		<!-- /.widget -->
	  </div>
	  <!-- /column -->
	  <div class="col-lg-3">
		<div class="widget">
		  <div class="d-flex flex-row">
			<div>
			  <div class="icon text-primary fs-28 me-4 mt-n1"> <i class="uil uil-location-pin-alt"></i> </div>
			</div>
			<div class="align-self-start justify-content-start">
			  <h5 class="mb-1">{{Trans "footer.address"}}</h5>
			  <address>
					22 Rue de l'Alma<br>
					35000 Rennes<br>
			  </address>
			</div>
		  </div>
		</div>
	  </div>
	</div>
	<hr class="mt-13 mt-md-14 mb-7" />
	<div class="d-md-flex align-items-center justify-content-between">
	  <p class="mb-2 mb-lg-0">{{Trans "footer.copyright"}}</p>
	  <!-- /.social -->
	</div>
  </div>
  <!-- /.container -->
</footer>
{{end}}
