{{define "header"}}
    <header class="wrapper bg-soft-primary">
        <nav class="navbar navbar-expand-lg classic transparent navbar-light">
            <div class="container flex-lg-row flex-nowrap align-items-center">
                <div class="navbar-brand w-100 h-100">
                    <a href="/" data-test="logo-link">
                        <img src="public/img/logo-green.svg" alt="aqua" height="40px;"/>
                    </a>
                </div>
                <div class="navbar-collapse offcanvas offcanvas-nav offcanvas-start">
                    <div class="offcanvas-header d-lg-none">
                        <h3 class="text-white fs-30 mb-0">Locafirst</h3>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body ms-lg-auto d-flex flex-column h-100">
                        {{if .DisplayTopLink}}
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="/dashboard" data-test='dashboard'>
                                    {{ Trans "HEADER.home" }}
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/visits" data-test='visit'>
                                    {{ Trans "HEADER.visit" }}
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/validation" data-test='my-files'>
                                    {{ Trans "HEADER.myfiles" }}
                                </a>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
                                    <i class="uil uil-apps"></i>
                                    {{Trans "HEADER.account"}}
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a class="dropdown-item text-primary">
                                            {{Trans "HEADER.hello"}} {{.Name}}
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="dropdown-item text-primary" href="/logout" data-test='logout'>
                                            <i class="uil uil-sign-out-alt"></i>
                                            {{Trans "HEADER.logout"}}
                                        </a>
                                    </li>
                                </ul>
                            </li>

                        </ul>
                        {{end}}
                    </div>
                </div>
                <!-- /.navbar-collapse -->
                <div class="navbar-{{if .DisplayTopLink}}other{{else}}nav{{end}} ms-lg-4 w-100 d-flex ms-auto">
                    <ul class="navbar-nav flex-row align-items-center ms-auto">
                        <li class="nav-item d-flex flex-shrink-0">
                            <a class="nav-link d-flex align-items-center" href="/information/faq" data-test='faq'>
                                <i class="uil uil-question-circle fs-lg-15 fs-20"></i>
                                <span class="d-none d-lg-inline-block ps-2">{{ Trans "FOOTER.Faq" }}</span>
                            </a>
                        </li>
                        <li class="nav-item dropdown language-select text-uppercase">
                            <a class="nav-link dropdown-item dropdown-toggle {{if not .DisplayTopLink}}px-4 fs-20 px-lg-0{{end}}" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{Trans "HEADER.current_language" }}</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a data-test='switch-language-link' class="dropdown-item" href="/set-locale">{{ Trans "HEADER.change_language" }}</a></li>
                            </ul>
                        </li>
                        <li class="nav-item d-lg-none">
                            <button class="hamburger offcanvas-nav-btn"><span></span></button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
{{end}}