{{define "pagination"}}
{{ if gt .Total 1 }}
    <nav class="d-flex" aria-label="pagination">
        <ul class="pagination mb-0">
            {{ if ne .Previous 0 }}
                <li class="page-item">
                    <a class="page-link" href='{{ Replace .Link "%page%" .Previous}}' aria-label="Previous" data-test="prev-page">
                        <span aria-hidden="true"><i class="uil uil-arrow-left"></i></span>
                    </a>
                </li>
            {{ end }}
            {{ $current := .Current}}
            {{ $link := .Link}}
            {{ range $idx, $page := .All }}
                <li class="page-item {{ if eq $page $current }} active {{ end }}">
                    <a class="page-link" href='{{ Replace $link "%page%" $page}}'  data-test="{{$page}}-page">{{ $page }}</a>
                </li>
            {{end}}
            {{ if ne .Next 0 }}
                <li class="page-item">
                    <a class="page-link" href='{{ Replace .Link "%page%" .Next}}' data-test="next-page">
                        <i class="uil uil-arrow-right"></i>
                    </a>
                </li>
            {{end}}
        </ul>
    </nav>
{{end}}
{{end}}
