{{define "why"}}
    <section class="wrapper bg-soft-primary angled upper-start mt-14 pb-14">
        <div class="container pt-8 pt-md-14">
            <h2 class="text-center display-2 mb-12">{{ Trans "WHY.Title" }}</h2>
            <div class="row gx-lg-8 gx-xl-12 gy-8">
                <div class="col-md-6 col-lg-4">
                    <div class="d-flex flex-row">
                        <div>
                            <img src="public/img/icons/solid/feather.svg" class="svg-inject icon-svg icon-svg-xs solid-mono text-primary me-4" alt="" />
                        </div>
                        <div>
                            <h4 class="mb-1">{{ Trans "WHY.Step1" }}</h4>
                            <p class="mb-0">{{ Trans "WHY.Step1Desc" }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="d-flex flex-row">
                        <div>
                            <img src="public/img/icons/solid/content.svg" class="svg-inject icon-svg icon-svg-xs solid-mono text-yellow me-4" alt="" />
                        </div>
                        <div>
                            <h4 class="mb-1">{{ Trans "WHY.Step2" }}</h4>
                            <p class="mb-0">{{ Trans "WHY.Step2Desc" }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="d-flex flex-row">
                        <div>
                            <img src="public/img/icons/solid/bell.svg" class="svg-inject icon-svg icon-svg-xs solid-mono text-grape me-4" alt="" />
                        </div>
                        <div>
                            <h4 class="mb-1">{{ Trans "WHY.Step3" }}</h4>
                            <p class="mb-0">{{ Trans "WHY.Step3Desc" }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="d-flex flex-row">
                        <div>
                            <img src="public/img/icons/solid/calendar.svg" class="svg-inject icon-svg icon-svg-xs solid-mono text-primary me-4" alt="" />
                        </div>
                        <div>
                            <h4 class="mb-1">{{ Trans "WHY.Step4" }}</h4>
                            <p class="mb-0">{{ Trans "WHY.Step4Desc" }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="d-flex flex-row">
                        <div>
                            <img src="public/img/icons/solid/cloud-download.svg" class="svg-inject icon-svg icon-svg-xs solid-mono text-primary me-4" alt="" />
                        </div>
                        <div>
                            <h4 class="mb-1">{{ Trans "WHY.Step5" }}</h4>
                            <p class="mb-0">{{ Trans "WHY.Step5Desc" }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{{end}}